html, body {
    width: 100%;
    height: 100%;
}

.god_list{
    z-index: 1;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.close{
    color: white;
    font-size: 2rem;
    margin: 2rem;
    float: right;
    cursor: pointer;
}

.map {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image_map {
    z-index: 3;
    position: absolute;
}

polygon {
    fill: transparent;
}

polygon:hover {
    cursor: pointer;
    fill: transparent;
    stroke: rgba(117, 54, 2, 0.815);
    stroke-width:0.3%;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 0, 10000; 
    stroke-dashoffset: 0; 

    animation-name: lineMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    filter: url(#glow);
}

@keyframes lineMove {
    0% {
        stroke-dasharray: 0, 10000;
    }
    100% {
        stroke-dasharray: 10000, 10000;
        fill: rgba(221, 142, 22, 0.3);
    }
}