.bird{
   width: 5%;
   height: 5%;
   position:relative;

   animation-name: flying;
   animation-duration: 5s;
   animation-timing-function:inherit;
  
}

@keyframes flying{
   0%{
      transform: translate(0vw, 0vh) rotate(0deg);
    }
    20%{
      transform: translate(20vhw, 20vh) rotate(20deg);
    }
    40%{
      transform: translate(40vw, 40vh) rotate(25deg);
    }
    60%{
      transform: translate(60vw, 45vh) rotate(30deg);
    }
    80%{
      transform: translate(80vw, 50vh) rotate(45deg);
    }
    100%{
      transform: translate(100vw, 30vh) rotate(25deg);
    }
}